.DS_Store
*.log

# Backend
backend/vendor/
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/database/database.sqlite

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local

# Docker volumes
postgres_data/
